@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Serif:300,400,400i,700,700i&display=swap");

@charset "UTF-8";
@font-face {
  font-family: "JeanLucWeb-Thin";
  src: url("../fonts/JeanLuc-Webfonts/jeanlucweb-thin.eot");
  src: local("☺"),
    url("../fonts/JeanLuc-Webfonts/jeanlucweb-thin.woff") format("woff"),
    url("../fonts/JeanLuc-Webfonts/jeanlucweb-thin.otf") format("opentype"),
    url("../fonts/JeanLuc-Webfonts/jeanlucweb-thin#webfontdsa4toug")
      format("svg");
}
