@import url("https://fonts.googleapis.com/css?family=Yatra+One&display=swap");

@font-face {
  font-family: "Infini";
  src: url("../fonts/Infini/Infini-Regular.woff2") format("woff2"),
    url("../fonts/Infini/Infini-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Infini";
  src: url("../fonts/Infini/Infini-Italic.woff2") format("woff2"),
    url("../fonts/Infini/Infini-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
