@import "01-jeanluc.scss";
@import "02-infini.scss";
@import "03-syne.scss";

$m: 24px;

$paper: rgb(255, 240, 224);

$palettes: (
  /* Sol de sábado */ (rgb(247, 147, 16), rgb(0, 185, 154)),
  /* Sol de segunda */ (rgb(0, 155, 217), rgb(188, 132, 208)),
  /* Paisagem celta */ (rgb(226, 60, 143), rgb(255, 84, 80)),
  /* A Solidão das pedras */ (rgb(162, 103, 135), rgb(85, 143, 162))
);

body {
  background: #ddd;
}

@mixin var-color($i, $alpha: 1) {
  @at-root .sol-de-sabado & {
    color: transparentize(nth(nth($palettes, 1), $i), 1-$alpha);
  }
  @at-root .sol-de-segunda & {
    color: transparentize(nth(nth($palettes, 2), $i), 1-$alpha);
  }
  @at-root .paisagem-celta & {
    color: transparentize(nth(nth($palettes, 3), $i), 1-$alpha);
  }
  @at-root .a-solidao-das-pedras & {
    color: transparentize(nth(nth($palettes, 4), $i), 1-$alpha);
  }
}

@mixin var-bgcolor($i, $alpha: 1) {
  @at-root .sol-de-sabado & {
    background-color: transparentize(nth(nth($palettes, 1), $i), 1-$alpha);
  }
  @at-root .sol-de-segunda & {
    background-color: transparentize(nth(nth($palettes, 2), $i), 1-$alpha);
  }
  @at-root .paisagem-celta & {
    background-color: transparentize(nth(nth($palettes, 3), $i), 1-$alpha);
  }
  @at-root .a-solidao-das-pedras & {
    background-color: transparentize(nth(nth($palettes, 4), $i), 1-$alpha);
  }
}

@mixin img-ratio($height-to-width) {
  position: relative;
  .img-container {
    width: 100%;
    height: 0;
    padding: $height-to-width 0 0 0;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  img {
    @extend .sepiaish-img;
  }
}

img {
  max-width: 100%;
}

.text-shadow {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.spreads {
  margin: $m * 3 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - #{2 * $m});
  max-width: 960px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sepiaish-img {
  filter: grayscale(90%) sepia(30%);
}

.pages {
  background: $paper;
  position: relative;
  min-height: calc(480px * 1.4 - #{$m});
  &:after {
    width: $m * 2;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    z-index: 10;
  }

  $shade: mix(rgba(0, 0, 0, 0.5), $paper);

  &:nth-child(odd):after {
    right: 0;
    background-image: linear-gradient(to right, transparent, $shade);
    border-right: 1px solid mix(black, $shade);
  }
  &:nth-child(even):after {
    border-left: 1px solid mix(white, $shade);
    left: 0;
    background-image: linear-gradient(to right, $shade, transparent);
  }
}

.generic-full-page-img {
  @extend .sepiaish-img;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 1;
}

.jean-luc {
  // jean luc
  font-family: "IBM Plex Serif", serif;
  font-size: 11px;

  .default-text {
    font-size: 12px;
    line-height: 17px;
  }

  .small-text {
    font-size: 10px;
    line-height: 14px;
  }

  #page1 {
    position: relative;
    overflow: hidden;

    header {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      & > * {
        z-index: 3;
      }
      &:before {
        position: absolute;
        content: "";
        left: 0;
        right: 50%;
        bottom: 0;
        top: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
        mix-blend-mode: multiply;
        z-index: 2;
      }
    }

    h1 {
      font-family: "JeanLucWeb-Thin", sans-serif;
      font-weight: normal;
      font-size: 38px;
      line-height: 34px;
      @include var-color(1);
      text-transform: uppercase;

      box-sizing: border-box;
      position: absolute;
      bottom: $m;
      padding: $m;
      width: 50%;
      background: black;

      br {
        display: none;
      }
    }

    h2 {
      box-sizing: border-box;
      position: absolute;
      top: $m;
      width: 50%;
      padding: $m;
      @include var-bgcolor(2);
      color: white;
      font-style: italic;
      font-size: 23px;
      line-height: 25px;
      font-weight: bold;
      span {
        position: absolute;
        margin-top: $m * 8/5;
        display: block;
        font-family: "JeanLucWeb-Thin", sans-serif;
        font-weight: normal;
        font-size: 43px;
        font-style: normal;

        @extend .text-shadow;
      }
    }

    img {
      @extend .generic-full-page-img;
    }
  }

  #page2 {
    position: relative;
    article {
      position: relative;
      z-index: 2;
      margin: $m;
      display: grid;
      grid-template-columns: 6fr 1fr 8fr;
    }

    h3 {
      font-weight: bold;
      @include var-color(1);
      font-size: 23px;
      line-height: 28px;
    }
    h4 {
      margin-top: $m / 2;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
    }
    .main-text {
      grid-column: 3;
    }
    article {
      p {
        font-family: "IBM Plex Serif", serif;
        @extend .default-text;
        font-weight: 500;
        & + p {
          text-indent: $m/2;
        }
      }
    }
    .map {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    p.caption {
      font-family: "IBM Plex Mono", monospace;
      @extend .default-text;
      @include var-color(1);
      position: absolute;
      bottom: $m;
      left: $m;
    }
  }

  #page3 {
    display: flex;
    flex-direction: column;

    h3 {
      font-family: "JeanLucWeb-Thin", sans-serif;
      text-transform: uppercase;
      font-size: 27px;
      line-height: 29px;
      @include var-color(1);
      z-index: 3;

      margin-bottom: $m/2;
    }

    header {
      @include img-ratio(58%);
    }
    .uma-vida-um-evento {
      margin: $m;
      @extend .default-text;
      flex-grow: 1;
      columns: 2;
      column-gap: $m;
      -moz-column-fill: auto; /* Firefox */
      column-fill: auto;
      p + p {
        text-indent: $m/3;
      }
    }
  }

  #page4 {
    padding: percentage(1/17) 0 0 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 6fr 1fr;
    grid-auto-rows: auto min-content;
    .question_answer {
      grid-column: 2;
      h3 {
        @include var-color(1);
        font-family: "IBM Plex Mono", monospace;
        @extend .small-text;
        margin-bottom: $m/9;
        &:not(:first-child) {
          margin-top: $m/2;
        }
      }
      .question {
        font-size: 16px;
        line-height: 21px;
      }
      .answer {
        @extend .default-text;
        font-style: italic;
      }
    }

    .timeline {
      grid-column: 4;
      padding-left: percentage(1/6);
      font-family: "IBM Plex Mono";
      line-height: 13px;
      h3 {
        @include var-color(1);
        margin-bottom: $m/9;
      }
      li {
        position: relative;
        $b_w: 2px;
        &:before,
        &:after {
          position: absolute;
          content: "";
        }
        &:before {
          left: calc(-20% + #{$m * 2 / 3 / 2});
          top: 0;
          bottom: -$b_w * 2;
          @at-root .sol-de-sabado & {
            border-left: $b_w dotted nth(nth($palettes, 1), 2);
          }
          @at-root .sol-de-segunda & {
            border-left: $b_w dotted nth(nth($palettes, 2), 2);
          }
          @at-root .paisagem-celta & {
            border-left: $b_w dotted nth(nth($palettes, 3), 2);
          }
          @at-root .a-solidao-das-pedras & {
            border-left: $b_w dotted nth(nth($palettes, 4), 2);
          }
        }
        &:after {
          background: $paper;

          width: calc(#{$m * 2 / 3} - #{$b_w});
          height: calc(#{$m * 2 / 3} - #{$b_w});

          left: -20%;
          top: 0;
          transform: translateY(-$b_w);

          border-radius: 50%;

          @at-root .sol-de-sabado & {
            border: $b_w solid nth(nth($palettes, 1), 2);
          }
          @at-root .sol-de-segunda & {
            border: $b_w solid nth(nth($palettes, 2), 2);
          }
          @at-root .paisagem-celta & {
            border: $b_w solid nth(nth($palettes, 3), 2);
          }
          @at-root .a-solidao-das-pedras & {
            border: $b_w solid nth(nth($palettes, 4), 2);
          }
        }

        &:last-child:before {
          border: none;
        }

        & + li {
          margin-top: $m/3;
        }
      }
    }

    .the-team {
      grid-column: 1 / -1;
      padding: percentage(1/17);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        @include var-bgcolor(2);
        opacity: 0.4;
      }

      display: grid;
      grid-template-columns: 9fr 1fr 5fr;
      align-items: flex-end;
      img {
        grid-column: 1;
        @extend .sepiaish-img;
        mix-blend-mode: multiply;
      }
      .about-the-team {
        grid-column: 3;
        p {
          font-family: "IBM Plex Mono", monospace;
          @extend .small-text;
          & + p {
            margin-top: $m/3;
          }
        }
      }
    }
  }
}

.infini {
  font-family: "Infini", sans-serif;
  font-size: 11px;

  .default-text {
    p {
      font-family: "Infini", sans-serif;
      font-size: 13px;
      line-height: 17px;
    }
    p + p {
      text-indent: $m * 2/3;
    }
  }

  .small-text {
    @extend .default-text;
    p {
      font-size: 11px;
      line-height: 14px;
    }
  }

  .vertical-bar {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: percentage(2/17);

    color: white;

    writing-mode: vertical-lr;
    text-align: center;
    padding: percentage(1/17) 0;
    display: flex;
    align-items: center;
    @include var-bgcolor(1, 0.7);
    background-blend-mode: multiply;
  }

  #page1 {
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 6 * $m;
      background: linear-gradient(to bottom, transparent, black);
      mix-blend-mode: multiply;
      opacity: 0.5;
      z-index: 2;
    }
    img {
      @extend .generic-full-page-img;
    }
    h1 {
      font-family: "Yatra One", cursive;
      font-size: 26px;
      position: absolute;
      right: percentage(1/17);
      bottom: $m;
      text-align: right;
      z-index: 3;
      color: white;
      text-transform: lowercase;

      @extend .text-shadow;

      br {
        display: none;
      }
    }
    h2 {
      font-family: "Infini", sans-serif;
      font-size: 22px;
      line-height: 27px;
      @extend .vertical-bar;
      justify-content: space-between;
    }
  }
  #page2 {
    display: grid;
    padding-top: percentage(1/17);
    grid-template-columns: 1fr 15fr 1fr;
    position: relative;
    article {
      grid-column: 2;
      display: grid;
      grid-template-columns: 6fr 1fr 8fr;
      position: relative;
      z-index: 4;
      padding-bottom: percentage(1/15);
      header {
        grid-column: 1;
        h3 {
          @include var-color(1);
          font-family: "Yatra One", cursive;
          font-size: 26px;
          line-height: 30px;
        }
        h4 {
          margin-top: $m/2;
          color: mix($paper, black);
          font-size: 17px;
          line-height: 23px;
        }
      }
      .main-text {
        grid-column: 3;
        @extend .default-text;
      }
    }
    .map {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: percentage(10/17);
      line-height: 0;
      img {
        width: 100%;
        position: relative;
        z-index: 2;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        right: 0;
        height: $m * 7;
        opacity: 0.75;
        background: linear-gradient(to bottom, transparent, $paper);
      }
      .caption {
        position: absolute;
        bottom: percentage(1/17);
        left: percentage(1/17);
        font-size: 13px;
        line-height: 16px;
        color: mix(black, $paper);
        z-index: 3;
      }
    }
  }
  #page3 {
    display: flex;
    flex-direction: column;

    header {
      @include img-ratio(51.42334509%);
    }

    .uma-vida-um-evento {
      @extend .default-text;

      flex-grow: 1;
      columns: 2;
      column-gap: percentage(1/13);
      -moz-column-fill: auto; /* Firefox */
      column-fill: auto;

      h3 {
        @extend .vertical-bar;

        @include var-bgcolor(2, 0.8);

        justify-content: center;
        text-align: center;
        font-family: "Yatra One", cursive;
        font-size: 20px;
        br {
          display: none;
        }
      }

      padding: percentage(1/17);
      padding-left: percentage(3/17);
    }
  }
  #page4 {
    display: grid;
    padding: percentage(1/17) 0 0 0;
    grid-auto-rows: auto min-content;
    grid-template-columns: 1fr 6fr 2fr 7fr 1fr;
    .question_answer {
      grid-column: 4;
      grid-row: 1;

      @extend .default-text;

      h3 {
        font-size: 14px;
        font-family: "Yatra One", cursive;
        @include var-color(2);
        text-transform: uppercase;
        letter-spacing: 0.07ch;
        margin-bottom: $m/6;
      }
      .question {
        font-size: 14px;
        line-height: 18px;
        font-family: "Yatra One", cursive;
        & + h3 {
          margin-top: $m/2;
        }
      }
    }
    .timeline {
      $offset: $m * 2/3;
      grid-column: 2;
      grid-row: 1;
      padding-left: $offset;
      h3 {
        font-family: "Yatra One", cursive;
        @include var-color(1);
        font-size: 18px;
        position: relative;
        &:before {
          content: "→";
          font-family: "Infini", sans-serif;
          font-size: 17px;
          position: absolute;
          left: -$offset;
          top: -2px;
          @include var-color(2);
        }
      }
      @extend .default-text;
      p {
        margin-top: $m/6;
      }
      li:not(:first-child) h3 {
        margin-top: $m/3;
      }
    }
    .the-team {
      grid-column: 1 / -1;
      grid-row: 2;

      display: grid;
      grid-template-columns: 9fr 8fr;

      @include var-bgcolor(2, 0.3);

      img {
        grid-column: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        @extend .sepiaish-img;
        mix-blend-mode: multiply;
      }
      .about-the-team {
        grid-column: 2;
        padding: percentage(1/8);
        @extend .small-text;
        p + p {
          text-indent: 0;
          margin-top: $m/2;
        }
      }
    }
  }
}

.syne {
  font-family: "Gangster Grotesk", sans-serif;
  font-size: 11px;

  .default-text {
    p {
      font-family: "Gangster Grotesk", sans-serif;
      font-size: 13px;
      line-height: 17px;
    }
    p + p {
      text-indent: $m * 2/3;
    }
  }

  .big-title {
    font-family: "Gangster Grotesk", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 34px;
    line-height: 36px;
  }

  @mixin bars(
    $c,
    $right_page: true,
    $min_l: percentage(-1/15),
    $min_r: percentage(-1/15)
  ) {
    &:after,
    &:before {
      content: "";
      position: absolute;
      @if $c == 1 {
        @include var-bgcolor(1);
      }
      @if $c == 2 {
        @include var-bgcolor(2);
      }
      z-index: 3;
    }

    &:before {
      width: $m/3;

      top: 0;
      bottom: 0;

      @if $right_page {
        right: $min_r;
      } @else {
        left: $min_l;
      }
    }

    &:after {
      height: $m/3;

      right: $min_r;
      left: $min_l;

      @if $right_page {
        top: 0;
      } @else {
        bottom: 0;
      }
    }
  }

  #page1 {
    position: relative;
    overflow: hidden;

    header {
      // colored bars
      &:before,
      &:after {
        content: "";
        position: absolute;
        @include var-bgcolor(1);
        mix-blend-mode: overlay;
        z-index: 2;
      }
      &:before {
        left: 0;
        top: 0;
        bottom: 2 * $m;
        width: 2 * $m;
      }
      &:after {
        left: 0;
        right: 0;
        bottom: 0;
        height: 2 * $m;
      }

      h1 {
        @extend .big-title;
        @extend .text-shadow;

        text-transform: lowercase;

        position: absolute;
        bottom: $m;
        left: $m;
        z-index: 3;
      }

      h2 {
        font-family: "Gangster Grotesk", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 34px;
        line-height: 36px;

        @extend .text-shadow;

        width: percentage(11/17);

        position: absolute;
        left: $m;
        top: $m;
        z-index: 3;
        span {
          margin-top: $m/2;
          display: block;
          font-family: "Syne", cursive;
          font-weight: 400;
          font-style: italic;
        }
      }
    }

    img {
      @extend .generic-full-page-img;
      z-index: 1;
    }
  }
  #page2 {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    article {
      position: relative;
      z-index: 2;

      @include bars(1, true);

      grid-column: 2;
      display: grid;
      grid-template-columns: 9fr 1fr 5fr;
      padding: $m 0;
      header {
        grid-column: 3;
        grid-row: 1;
        h3 {
          font-size: 22px;
          line-height: 29px;
          font-weight: bold;
          @include var-color(2);
        }
        h4 {
          margin-top: $m/2;
          font-family: "Syne", cursive;
          font-weight: bold;
          font-style: normal;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .main-text {
        grid-column: 1;
        grid-row: 1;
        @extend .default-text;
      }
    }
    .map {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: percentage(14/17);
      line-height: 0;
      img {
        width: 100%;
        opacity: 0.6;
      }
      .caption {
        position: absolute;
        bottom: $m;
        left: percentage(2/21);

        font-family: "Syne", cursive;
        font-weight: 400;
        font-style: italic;
        @include var-color(2);
        font-size: 17px;
        &:before {
          content: "↑";
          padding-right: $m/2;
        }
      }
    }
  }
  #page3 {
    display: flex;
    flex-direction: column;
    position: relative;

    header {
      @include img-ratio(44.99542696%);

      .img-container {
        position: relative;
        &:after {
          content: "";
          top: 0;
          left: $m/3;
          bottom: 0;
          width: percentage(19/34);
          background: linear-gradient(to right, black, transparent);
          mix-blend-mode: multiply;
          opacity: 0.4;
          position: absolute;
        }
      }
    }
    .uma-vida-um-evento {
      @include bars(2, false, 0, 0);
      @extend .default-text;

      flex-grow: 1;
      columns: 2;
      column-gap: percentage(1/14);
      -moz-column-fill: auto; /* Firefox */
      column-fill: auto;

      padding: percentage(1/17);
      padding-left: percentage(1/17);

      h3 {
        position: absolute;
        top: $m;
        left: $m;

        @extend .text-shadow;

        @extend .big-title;
        font-weight: bold;
      }
    }
  }
  #page4 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 6fr 1fr;
    grid-auto-rows: auto min-content;

    position: relative;

    .question_answer {
      @include bars(2, true, 0, 0);

      grid-column: 2;
      grid-row: 1;
      padding: percentage(1/8) 0;

      h3 {
        font-size: 20px;
        @include var-color(2);

        font-family: "Syne", cursive;
        font-weight: bold;
        font-style: normal;
      }

      .question {
        font-family: "Syne", cursive;
        font-weight: bold;
        font-style: normal;

        margin-top: $m/6;
        padding-left: percentage(1/16);

        font-size: 14px;
        line-height: 19px;
        & + h3 {
          margin-top: $m * 2/3;
        }
      }
      @extend .default-text;

      .answer {
        margin-top: $m/6;
        padding-left: percentage(1/16);
      }
    }
    .timeline {
      grid-column: 4;
      grid-row: 1 / span 2;

      padding-top: percentage(1/6);
      padding-left: percentage(1/6/2);

      h3 {
        font-family: "Syne", cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        @include var-color(1);
        margin-bottom: $m/6;
      }
      @extend .default-text;

      li {
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
        }
        &:before {
          width: 5px;
          height: 5px;
          top: 5px;
          left: calc(#{percentage(-1/6/2)} - 2px);
          @include var-bgcolor(1);
          border: 2px solid $paper;
          border-radius: 50%;
          z-index: 3;
        }
        &:after {
          z-index: 2;
          left: calc(#{percentage(-1/6/2)} + 2px);
          bottom: -15px;
          top: 5px + 4px;
          @at-root .sol-de-sabado & {
            border-left: 1px solid nth(nth($palettes, 1), 2);
          }
          @at-root .sol-de-segunda & {
            border-left: 1px solid nth(nth($palettes, 2), 2);
          }
          @at-root .paisagem-celta & {
            border-left: 1px solid nth(nth($palettes, 3), 2);
          }
          @at-root .a-solidao-das-pedras & {
            border-left: 1px solid nth(nth($palettes, 4), 2);
          }
        }
        & + li {
          margin-top: $m/3;
        }
        &:last-child:after {
          display: none;
        }
      }
    }

    .the-team {
      grid-column: 2;
      grid-row: 2;

      @include var-bgcolor(1, 0.6);
      padding-left: percentage(1/17);
      padding-bottom: percentage(1/8);

      img {
        @extend .sepiaish-img;
        mix-blend-mode: luminosity;
      }
      .about-the-team {
        margin-top: $m/2;
        padding-right: percentage(1/15);
        p {
          font-size: 11px;
          line-height: 15px;
          & + p {
            margin-top: 7px;
          }
        }
      }
    }
  }
}
