<div id="color-palette" class="sol-de-segunda">
	<div id="layout-template" class="jean-luc">
		<div class="spreads" id="spread1">
			<div class="pages" id="page1">
				<header>
					<h1>Excluídos <br>da História</h1>
					<h2>Maria Rosária Alice Leite <span>1870—1922</span></h2>
				</header>
				<img src="img/examples/main.jpg">
			</div>

			<div class="pages" id="page2">
				<article>
					<header>
						<h3>{{#titulo}}{{.}}{{/titulo}}{{^titulo}}<span class="placeholder">Eis aqui um espaço reservado para o título!</span>{{/titulo}}</h3>
						<h4>{{#subtitulo}}{{.}}{{/subtitulo}}{{^subtitulo}}<span class="placeholder">E aqui, logo abaixo, deve vir o subtítulo</span>{{/subtitulo}}</h4>
					</header>
					<div class="main-text">
						
					{{#texto_principal}}
						<p>{{.}}</p>
					{{/texto_principal}}
					{{^texto_principal}}
						<p class="placeholder">
							Este é o texto principal. Vou colocar abaixo algo que não tem nada a ver com nada — a ideia aqui é apenas preencher espaço e, com isso, demonstrar que aspecto esse layout pode ter quando há textos nele. Tirei daqui: bit.ly/__tarefona__
						</p>
						<p class="placeholder">Nearly every morning, a certain woman in our community comes running out of her house with her face white and her overcoat flapping wildly. She cries out, “Emergency, emergency,” and one of us runs to her and holds her until her fears are calmed. We know she is making it up; nothing has really happened to her. </p>
						<p class="placeholder">But we understand, because there is hardly one of us who has not been moved at some time to do just what she has done, and every time, it has taken all our strength, and even the strength of our friends and families too, to quiet us.</p>
					{{/texto_principal}}
					</div>
					<div class="img1-caption">
						<p>Maria Leite, fotografada minutos antes de levar a machadada que quase lhe tirou a vida. Quase? Sim, quase.</p>
					</div>
				</article>
				<div class="map">
					<img id="state-map" src="img/states/mapa_cor2/CE.png">
					<p class="caption">São José das Couves Frescas e das Couves não tão Frescas Assim, CE</p>
				</div>
			</div>

		</div>

		<div class="spreads" id="spread2">

			<div class="pages" id="page3">
				<header>
						<div class="img-container">
							<img src="img/examples/vida_evento.jpg">
						</div>
				</header>
				<div class="uma-vida-um-evento">
					<h3>Uma vida, <br>um evento</h3>
					{{#uma_vida_um_evento}}
						<p>{{.}}</p>
					{{/uma_vida_um_evento}}
					{{^uma_vida_um_evento}}
						<p class="placeholder">
							Este texto pertence à seção “Uma vida, um evento”. Vou colocar abaixo algo que não tem nada a ver com nada — a ideia aqui é apenas preencher espaço e, com isso, demonstrar que aspecto esse layout pode ter quando há textos nele. Tirei daqui: bit.ly/__tarefona__
						</p>
						<p class="placeholder">An outburst of anger near the road, a refusal to speak on the path, a silence in the pine woods, a silence across the old railroad bridge, an attempt to be friendly in the water, a refusal to end the argument on the flat stones, a cry of anger on the steep bank of dirt, a weeping among the bushes.</p>
						<p class="placeholder">You see how circumstances are to blame. I am not really an odd person if I put more and more small pieces of shredded kleenex in my ears and tie a scarf around my head: when I lived alone I had all the silence I needed.</p>
					{{/uma_vida_um_evento}}
				</div>
				<div class="img2-caption">
					<p>Maria R.A. Leite encontra-se com seus muitos seguidores logo após a machadada. Notem: ela ainda anda!</p>
				</div>
			</div>

			<div class="pages" id="page4">
				<div class="question_answer">
					<h3>Pergunta</h3>
					<p class="question">{{#pergunta}}{{.}}{{/pergunta}}{{^pergunta}}<span class="placeholder">Este aqui é o espaço onde, eventualmente, vocês devem colocar a pergunta de vocês.</span>{{/pergunta}}</p>
					<h3>Resposta</h3>
					<p class="answer">{{#resposta}}{{.}}{{/resposta}}{{^resposta}}<span class="placeholder">E, logo abaixo, eis aqui o espaço para a resposta para essa mesma pergunta. Dúvidas? Confiram as instruções da tarefa!</span>{{/resposta}}</p>
				</div>
				<div class="timeline">
					<ul>
						{{^ano_01}}
							{{^ano_02}}
								{{^ano_03}}
									{{^ano_04}}
										{{^ano_05}}
											{{^ano_06}}
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">Aqui eventualmente teremos o primeiro evento</span></p>
												</li>
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">E aqui, então, o segundo.</span></p>
												</li>
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">Eis o espaço para o terceiro evento!</span></p>
												</li>
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">Se chegarmos ao quarto evento estaremos bem.</span></p>
												</li>
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">Quinto evento? Quanta empolgação!</span></p>
												</li>
												<li>
													<h3><span class="placeholder">XXXX</span></h3>
													<p><span class="placeholder">Parabéns: você completou a linha do tempo!</span></p>
												</li>
											{{/ano_06}}
										{{/ano_05}}
									{{/ano_04}}
								{{/ano_03}}
							{{/ano_02}}
						{{/ano_01}}
						{{#ano_01}}
						<li>
							<h3>{{ano_01}}</h3>
							<p>{{descricao_01}}</p>
						</li>
						{{/ano_01}}
						{{#ano_02}}
						<li>
							<h3>{{ano_02}}</h3>
							<p>{{descricao_02}}</p>
						</li>
						{{/ano_02}}
						{{#ano_03}}
						<li>
							<h3>{{ano_03}}</h3>
							<p>{{descricao_03}}</p>
						</li>
						{{/ano_03}}
						{{#ano_04}}
						<li>
							<h3>{{ano_04}}</h3>
							<p>{{descricao_04}}</p>
						</li>
						{{/ano_04}}
						{{#ano_05}}
						<li>
							<h3>{{ano_05}}</h3>
							<p>{{descricao_05}}</p>
						</li>
						{{/ano_05}}
						{{#ano_06}}
						<li>
							<h3>{{ano_06}}</h3>
							<p>{{descricao_06}}</p>
						</li>
						{{/ano_06}}
					</ul>
				</div>
				<div class="the-team">
					<img src="img/examples/equipe.jpg">
					<div class="about-the-team">
						<p>Projeto criado pela equipe “{{#nome_equipe}}{{.}}{{/nome_equipe}}{{^nome_equipe}}<span class="placeholder">O nome da sua equipe</span>{{/nome_equipe}}”, de {{#cidade}}{{.}}{{/cidade}}{{^cidade}}<span class="placeholder">O nome da sua cidade</span>{{/cidade}}, {{#estado}}{{.}}{{/estado}}{{^estado}}<span class="placeholder">UF</span>{{/estado}}</p>
						<p>Membros: {{#nome_membro_1}}{{.}}{{/nome_membro_1}}{{^nome_membro_1}}<span class="placeholder">Primeiro integrante</span>{{/nome_membro_1}}, {{#nome_membro_2}}{{.}}{{/nome_membro_2}}{{^nome_membro_2}}<span class="placeholder">Segunda integrante</span>{{/nome_membro_2}} e {{#nome_membro_3}}{{.}}{{/nome_membro_3}}{{^nome_membro_3}}<span class="placeholder">Terceiro integrante</span>{{/nome_membro_3}}, com orientação de {{#nome_orientador}}{{.}}{{/nome_orientador}}{{^nome_orientador}}<span class="placeholder">Professor orientador</span>{{/nome_orientador}}.</p>
					</div>
				</div>
			</div>

		</div>


		<div id="font-credits">
		</div>
	</div>
</div>