<div id="color-palette" class="sol-de-segunda">
	<div id="layout-template" class="jean-luc">
		<div class="spreads" id="spread1">
			<div class="pages" id="page1">
				<header>
					<h1>Excluídos <br>da História</h1>
					<h2>{{#nome_personalidade}}{{.}}{{/nome_personalidade}}{{^nome_personalidade}}<span class="placeholder">...... .. ....... ......</span>{{/nome_personalidade}}<span class="born-and-died">{{#ano_nascimento}}{{.}}{{/ano_nascimento}}{{^ano_nascimento}}<span class="placeholder">..</span> {{/ano_nascimento}}—{{#ano_morte}}{{.}}{{/ano_morte}}{{^ano_morte}} <span class="placeholder">..</span>{{/ano_morte}}</span></h2>
				</header>
				{{#img_capa_versions.original.path}}
					<img src="{{img_capa_versions.original.path}}">
				{{/img_capa_versions.original.path}}
				{{^img_capa_versions.original.path}}
					<img src="img/placeholder_capa.jpg">
				{{/img_capa_versions.original.path}}
			</div>

			<div class="pages" id="page2">
				<article>
					<header>
						<h3>{{#titulo}}{{.}}{{/titulo}}{{^titulo}}<span class="placeholder">... .... .. ...... ......... .... . .......</span>{{/titulo}}</h3>
						<h4>{{#subtitulo}}{{.}}{{/subtitulo}}{{^subtitulo}}<span class="placeholder">. ..... .... ....... .... ... . .........</span>{{/subtitulo}}</h4>
					</header>
					<div class="main-text">
						
					{{#texto_principal}}
						<p>{{.}}</p>
					{{/texto_principal}}
					{{^texto_principal}}
						<p class="placeholder">
							.... . . ..... .......... ... ....... ...... .... ... ... ... .... . ... ... .... . . ..... .... . ...... ......... ...... .. ... ..... .......... ... ....... .... ...... .... ... ...... .. ...... ..... ..... ...... ...................
						</p>
						<p class="placeholder">...... ..... ........ . ....... ..... .. ... ......... ..... ....... ... .. ... ..... .... ... .... ..... ... ... ........ ........ ....... ... ..... .... ........... ........... ... ... .. .. .... .. ... ... ..... ... ..... ... ..... ... ....... .. .... ... .. ...... .. ... ....... ... ...... ........ .. ....</p>
						<p class="placeholder">... .. ........... ....... ..... .. ...... ... .. .. ... ... ... .... ..... .. .... .... .. .. .... .... ... ... ..... ... ..... ..... .. ... ..... ... ... ......... ... .... ... ........ .. ... ....... ... ........ .... .. ..... ...</p>
					{{/texto_principal}}
					</div>
					<div class="img1-caption">
						<p>{{#legenda_capa}}{{.}}{{/legenda_capa}}{{^legenda_capa}}<span class="placeholder">...... ... ..... ... .. ..... .. .......</span>{{/legenda_capa}}</p>
					</div>
				</article>
				<div class="map">
					<img id="state-map" src="img/states/mapa_cor2/CE.png">
					<p class="caption">{{#cidade}}{{.}}{{/cidade}}{{^cidade}}<span class="placeholder">... .... ... ...</span>{{/cidade}}, {{#estado}}{{.}}{{/estado}}{{^estado}}<span class="placeholder">..</span>{{/estado}}</p>
				</div>
			</div>

		</div>

		<div class="spreads" id="spread2">

			<div class="pages" id="page3">
				<header>
						<div class="img-container">
							{{#img_uma_vida_um_evento_versions.original.path}}
								<img src="{{img_uma_vida_um_evento_versions.original.path}}">
							{{/img_uma_vida_um_evento_versions.original.path}}
							{{^img_uma_vida_um_evento_versions.original.path}}
								<img src="img/placeholder_uma_vida_um_evento.jpg">
							{{/img_uma_vida_um_evento_versions.original.path}}
						</div>
				</header>
				<div class="uma-vida-um-evento">
					<h3>Uma vida, <br>um evento</h3>
					{{#uma_vida_um_evento}}
						<p>{{.}}</p>
					{{/uma_vida_um_evento}}
					{{^uma_vida_um_evento}}
						<p class="placeholder">
							.... ..... ........ . ..... .... ..... .. ........ ... ....... ...... .... ... ... ... .... . ... ... .... . . ..... .... . ...... ......... ...... .. ... ..... .......... ... ....... .... ...... .... ... ...... .. ...... ..... ..... ...... ...................
						</p>
						<p class="placeholder">.. ........ .. ..... .... ... ..... . ....... .. ..... .. ... ..... . ....... .. ... .... ...... . ....... ...... ... ... ........ ....... .. ....... .. .. ........ .. ... ...... . ....... .. ... ... ........ .. ... .... ....... . ... .. ..... .. ... ..... .... .. ..... . ....... ..... ... .......</p>
						<p class="placeholder">... ... ... ............. ... .. ...... . .. ... ...... .. ... ...... .. . ... .... ... .... ..... ...... .. ........ ....... .. .. .... ... ... . ..... ...... .. ..... .... . ..... ..... . ... ... ... ....... . .......</p>
					{{/uma_vida_um_evento}}
				</div>
				<div class="img2-caption">
					<p>{{#legenda_uma_vida_um_evento}}{{.}}{{/legenda_uma_vida_um_evento}}{{^legenda_uma_vida_um_evento}}<span class="placeholder">...... ... ..... ... .. ..... .. .......</span>{{/legenda_uma_vida_um_evento}}</p>
				</div>
			</div>

			<div class="pages" id="page4">
				<div class="question_answer">
					<h3>Pergunta</h3>
					<p class="question">{{#pergunta}}{{.}}{{/pergunta}}{{^pergunta}}<span class="placeholder">.... .... . . ...... ..... .............. ..... ..... ....... . ........ .. ......</span>{{/pergunta}}</p>
					<h3>Resposta</h3>
					<p class="answer">{{#resposta}}{{.}}{{/resposta}}{{^resposta}}<span class="placeholder">.. .... ....... ... .... . ...... .... . ........ .... .... ..... ......... ........ ........ .. .......... .. .......</span>{{/resposta}}</p>
				</div>
				<div class="timeline">
					<ul>
						{{^ano_01}}
							{{^ano_02}}
								{{^ano_03}}
									{{^ano_04}}
										{{^ano_05}}
											{{^ano_06}}
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">.... ............. ....... . ........ ......</span></p>
												</li>
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">. ..... ...... . ........</span></p>
												</li>
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">... . ...... .... . ........ .......</span></p>
												</li>
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">.. ......... .. ...... ...... ......... ....</span></p>
												</li>
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">...... ....... ...... ...........</span></p>
												</li>
												<li>
													<h3><span class="placeholder">....</span></h3>
													<p><span class="placeholder">......... .... ......... . ..... .. ......</span></p>
												</li>
											{{/ano_06}}
										{{/ano_05}}
									{{/ano_04}}
								{{/ano_03}}
							{{/ano_02}}
						{{/ano_01}}
						{{#ano_01}}
						<li>
							<h3>{{ano_01}}</h3>
							<p>{{descricao_01}}</p>
						</li>
						{{/ano_01}}
						{{#ano_02}}
						<li>
							<h3>{{ano_02}}</h3>
							<p>{{descricao_02}}</p>
						</li>
						{{/ano_02}}
						{{#ano_03}}
						<li>
							<h3>{{ano_03}}</h3>
							<p>{{descricao_03}}</p>
						</li>
						{{/ano_03}}
						{{#ano_04}}
						<li>
							<h3>{{ano_04}}</h3>
							<p>{{descricao_04}}</p>
						</li>
						{{/ano_04}}
						{{#ano_05}}
						<li>
							<h3>{{ano_05}}</h3>
							<p>{{descricao_05}}</p>
						</li>
						{{/ano_05}}
						{{#ano_06}}
						<li>
							<h3>{{ano_06}}</h3>
							<p>{{descricao_06}}</p>
						</li>
						{{/ano_06}}
					</ul>
				</div>
				<div class="the-team">
					{{#img_equipe_versions.original.path}}
						<img src="{{img_equipe_versions.original.path}}">
					{{/img_equipe_versions.original.path}}
					{{^img_equipe_versions.original.path}}
						<img src="img/placeholder_equipe.jpg">
					{{/img_equipe_versions.original.path}}
					<div class="about-the-team">
						<p>Projeto criado pela equipe “{{#nome_equipe}}{{.}}{{/nome_equipe}}{{^nome_equipe}}<span class="placeholder">. .... .. ... ......</span>{{/nome_equipe}}”, de {{#cidade}}{{.}}{{/cidade}}{{^cidade}}<span class="placeholder">. .... .. ... ......</span>{{/cidade}}, {{#estado}}{{.}}{{/estado}}{{^estado}}<span class="placeholder">..</span>{{/estado}}</p>
						<p>Membros: {{#nome_membro_1}}{{.}}{{/nome_membro_1}}{{^nome_membro_1}}<span class="placeholder">........ ..........</span>{{/nome_membro_1}}, {{#nome_membro_2}}{{.}}{{/nome_membro_2}}{{^nome_membro_2}}<span class="placeholder">....... ..........</span>{{/nome_membro_2}} e {{#nome_membro_3}}{{.}}{{/nome_membro_3}}{{^nome_membro_3}}<span class="placeholder">........ ..........</span>{{/nome_membro_3}}, com orientação de {{#nome_orientador}}{{.}}{{/nome_orientador}}{{^nome_orientador}}<span class="placeholder">......... ..........</span>{{/nome_orientador}}.</p>
					</div>
				</div>
			</div>

		</div>


		<div id="font-credits">
		</div>
	</div>
</div>