<div id="color-palette" class="sol-de-sabado">
	<div id="layout-template" class="jean-luc">
		<div class="spreads" id="spread1">
			<div class="pages" id="page1">
				<header>
					<h1>Excluídos <br>da História</h1>
					<h2>Maria Rosária Alice Leite <span>1870—1922</span></h2>
				</header>
				<img src="img/examples/main.jpg">
			</div>

			<div class="pages" id="page2">
				<article>
					<header>
						<h3>A cajuína cristalina em Teresina</h3>
						<h4>Pérolas banhadas em amianto descontroem um palhaço arrivista.</h4>
					</header>
					<div class="main-text">
						<p>Aquia dolectet et voluptia inci offici autem laut vellaborunt moluptatibus exceaqui sequi cum, sant dundionest hic tem facest, omni optatio nsequis quibus, sunt eos dolo incieni hicimol oribus eaquibus doluptamus ipsae dolo blam sit volore corporrum lit iliqui di dusandu ndaepre experchil eumqui aceatur, sus et autatquis solute praturia volor adit offici autectium fugit, ut quamusdam nulpa conet oRi nos eos es mod que aliquatusam re nati iducium que essuntius endandi que soluptat.</p>
						<p>Giandias et alitate nditatur?</p>
						<p>Nequi sedit, ilignatiatur aperisimus et omnihil landus et exeratas est quam cus maximus quia sunt ut explat.</p>
						<p>Danihitatet dolorpore, ium ventiur, ut lit eiusandam, utRuntur ad et perrum quate suntio. Poriatem eum quis conectem qui a volupta inum estem cus.Elenis conecatus acculpa nonserecus et volorio necaepere pre nulluptat que explabo. Nest, te corerrum rehent magni simusam denime int que eos am, officab orepudi tatatium et voluptatur.</p>
					</div>
				</article>
				<div class="map">
					<img src="img/states/mapa_cor1/CE.png">
					<p class="caption">Fortaleza, CE</p>
				</div>
			</div>

		</div>

		<div class="spreads" id="spread2">

			<div class="pages" id="page3">
				<header>
						<div class="img-container">
							<img src="img/examples/vida_evento.jpg">
						</div>
				</header>
				<div class="uma-vida-um-evento">
					<h3>Uma vida, <br>um evento</h3>
					<p>Aquia dolectet et voluptia inci offici autem laut vellaborunt moluptatibus exceaqui sequi cum, sant dundionest hic tem facest, omni optatio nsequis quibus, sunt eos dolo incieni hicimol oribus eaquibus doluptamus ipsae dolo blam sit volore corporrum lit iliqui di dusandu ndaepre experchil eumqui aceatur, sus et autatquis solute praturia volor adit offici autectium fugit, ut quamusdam nulpa conet oRi nos eos es mod que aliquatusam re nati iducium que essuntius endandi que soluptat.</p>
					<p>Giandias et alitate nditatur?</p>
					<p>Nequi sedit, ilignatiatur aperisimus et omnihil landus et exeratas est quam cus maximus quia sunt ut explat.</p>
					<p>Danihitatet dolorpore, ium ventiur, ut lit eiusandam, utRuntur ad et perrum quate suntio. Poriatem eum quis conectem qui a volupta inum estem cus.Elenis conecatus acculpa nonserecus et volorio necaepere pre nulluptat que explabo. Nest, te endi genderum ex eum rerit api</p>
				</div>
			</div>

			<div class="pages" id="page4">
				<div class="question_answer">
					<h3>Pergunta</h3>
					<p class="question">De que maneira Rosária Leite ajudou a esgrima nacional?</p>
					<h3>Resposta</h3>
					<p class="answer">Aquia dolectet et voluptia inci offici autem laut vellaborunt moluptatibus exceaqui sequi cum, sant dundionest hic tem facest, omni optatio nsequis quibus, sunt eos dolo incieni hicimol oribus eaquibus doluptamus ipsae dolo blam sit volore corporrum.</p>
				</div>
				<div class="timeline">
					<ul>
						<li>
							<h3>1870</h3>
							<p>Nasce em Curitiba, Paraná</p>
						</li>
						<li>
							<h3>1889</h3>
							<p>Funda a escola de esgrima brasileira</p>
						</li>
						<li>
							<h3>1901</h3>
							<p>Ganha campeonato mundial de dança de salão</p>
						</li>
						<li>
							<h3>1911</h3>
							<p>Mata João das Couves na disputa do que seria chamada a “batalha das verduras”</p>
						</li>
						<li>
							<h3>1922</h3>
							<p>Morre de um AVC em Teresina, Piauí</p>
						</li>
					</ul>
				</div>
				<div class="the-team">
					<img src="img/examples/equipe.jpg">
					<div class="about-the-team">
						<p>Dossiê criado pela equipe “Universo expandindo em velocidade acelerada”, de São José das Couves Frescas, SP</p>
						<p>Membros: Lucas Vignoli Reis, Caluã de Lacerda Pataca e Daniel Sarmento Abrahão, com orientação de Alessandra Leca Pedro.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>